@page "/calendar/list"
@attribute [Authorize]
@inject IDatabase Database
@inject Workspace Workspace

@if (people != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Middle Name</th>
                <th>Last Name</th>
                <th>User Name</th>
                <th>Lives in</th>
                <th colspan="2" align="center" style="align-content:center">Calendar</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var person in people)
            {
                <tr>
                    <td>@person.FirstName</td>
                    <td>@person.MiddleName</td>
                    <td>@person.LastName</td>
                    <td>@person.UserName</td>
                    <td>@(person.Address?.City ?? "No City") </td>
                    <td>ScheduleStart</td>
                    <td>ScheduleEnd</td>
                    <td><a href="/person/edit/@person.Id">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    Context Context;

    Person[] people;

    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        var context = new Context(this.Database, this.Workspace);

        var pull = new Pull
        {
            Extent = new Filter(M.Person.ObjectType),

            Results = new[] {
                    new Allors.Workspace.Data.Result
                    {
                        Fetch = new Fetch
                        {
                              Include = new PersonNodeBuilder(person => {
                                  person.Address();
                              })
                        }
                    }
                }
        };

        var result = await context.Load(pull);

        this.people = result.GetCollection<Person>();
    }
}
